@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Barlow;
}

.header {
  height: 650px;
  background-repeat: no-repeat;
  background-image: url(../images/desktop/image-header.jpg);
  background-size: 1280px 650px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-title {
  font-family: Fraunces;
  color: hsl(0, 0%, 100%);
  margin: 0;
  text-transform: uppercase;
  padding-top: 150px;
  font-size: 50px;
  font-weight: 900;
}

.header img {
  margin-top: 60px;
}

.menu {
  /* background-color: hsl(197, 96%, 58%);*/
  width: 100%;
  height: 87px;
  float: left;
  z-index: 9999;
}

.home {
  float: left;
  margin-left: 39px;
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 30px;
}

.menu-list {
  float: right;
  margin-right: 30px;
  display: flex !important;
}

.menu-item {
  list-style: none;
  float: left;
  text-align: center;
  font-size: 15px;
}

.menu-item a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 1000px;
  white-space: nowrap;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.menu-item:hover {
  background-color: rgb(103, 207, 250);
  border-radius: 20px;
  text-transform: uppercase;
  font-family: Fraunces;
}

.active {
  background-color: hsl(0, 0%, 100%);
}

.container-item {
  width: 100%;
  overflow: hidden;
}

.graphic {
  background-image: url(../images/desktop/image-graphic-design.jpg);
}

.photo {
  background-image: url(../images/desktop/image-photography.jpg);
}
