@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Barlow;
}
/*Actualizar medidas*/

.header {
  height: 650px;
  /*width: 100%;*/
  background-repeat: no-repeat;
  background-image: url(../images/desktop/image-header.jpg);
  /*background-size: 1280px 650px;*/
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
}

.header-title {
  font-family: Fraunces;
  color: hsl(0, 0%, 100%);
  margin: 0;
  text-transform: uppercase;
  padding-top: 150px;
  font-size: 50px;
  font-weight: 900;
}

.header img {
  margin-top: 60px;
}

.menu {
  /* background-color: hsl(197, 96%, 58%);*/
  width: 100%;
  height: 87px;
  float: left;
  z-index: 9999;
}

.home {
  float: left;
  margin-left: 39px;
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 30px;
}

.menu-list {
  float: right;
  margin-right: 30px;
  display: flex !important;
}

.menu-item {
  list-style: none;
  float: left;
  text-align: center;
  font-size: 15px;
  color: hsl(0, 0%, 100%);
}

.menu-item a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 1000px;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
}

.menu-item:hover {
  background-color: hsl(198, 94%, 69%);
  border-radius: 20px;
  text-transform: uppercase;
  font-family: Fraunces;
}

a.active {
  background-color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-family: Fraunces;
  color: #121212;
  transition: 0.5s;
}

.container-item {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.container-item img {
  /* width: 632.5px;*/
  width: 100%;
  height: 600px;
}

.container-item-element-right {
  /* width: 632.5px;*/
  width: 50%;
  height: 600px;
  float: right;
}

.container-item-element-right h3 {
  margin-top: 0px;
}
.container-item-element-left {
  /*width: 630px;*/
  width: 50%;
  float: left;
  height: 600px;
}

.container-item-element-left h2,
.container-item-element-right h2 {
  font-family: Fraunces;
  font-weight: bold;
  font-size: 32px;
}

.container-item-element-left p,
.container-item-element-right p {
  color: hsl(213, 9%, 39%);
}

.container-item-element-left a,
.container-item-element-right a {
  font-family: Fraunces;
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(212, 27%, 19%);
  font-weight: bold;
  position: relative;
}
.container-item-element-left a:hover:before {
  background-color: hsl(47, 100%, 49%);
}

.container-item-element-right a:hover:before {
  background-color: rgb(255, 21, 0);
}

.container-item-element-left a::before {
  content: "";
  position: absolute;
  width: 115%;
  height: 0.625rem;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: hsl(50, 93%, 71%);
  border-radius: 30px;
  opacity: 0.2;
  z-index: -1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.container-item-element-right a::before {
  content: "";
  position: absolute;
  width: 115%;
  height: 0.625rem;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: hsl(7, 99%, 70%);
  border-radius: 30px;
  opacity: 0.2;
  z-index: -1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.transform-text {
  padding-top: 172px;
  padding-left: 124px;
}

.transform-text h2 {
  width: 330px;
}

.stand-text h2 {
  width: 350px;
}

.transform-text p,
.stand-text p {
  line-height: 1.5em;
  width: 400px;
}

.stand-text {
  padding-top: 160px;
  padding-left: 124px;
}

.graphic {
  background-image: url(../images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  padding-top: 300px;
  line-height: 1.5em;
  width: 50%;
}

.graphic p,
.graphic h3 {
  color: hsl(167, 40%, 24%);
  width: 340px;
  padding-left: 25%;
}

.graphic h3,
.photo h3 {
  font-family: Fraunces;
  font-weight: 900;
  font-size: 24px;
}

.photo {
  background-image: url(../images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  padding-top: 310px;
  line-height: 1.5em;
  width: 50%;
}

.photo p,
.photo h3 {
  color: hsl(198, 62%, 26%);
  width: 340px;
  padding-left: 25%;
}

.client-body {
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 140px;
}

.client-body ul {
  display: flex !important;
  text-align: center;
  list-style: none;
  justify-content: center;
  margin-top: 100px;
}

.client-body ul li {
  margin-right: 40px;
  margin-left: 40px;
  width: 32%;
}

.client-body h3 {
  margin-top: 90px;
  font-family: Fraunces;
  color: rgb(168, 170, 171);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.client-body img {
  border-radius: 50%;
  height: 70px;
}

.clint-comment {
  width: 310px;
  height: 72px;
  line-height: 1.5em;
  margin-bottom: 80px;
  padding-top: 10px;
}

.client-descr :first-child {
  font-family: Fraunces;
  font-weight: bold;
  color: #121212;
  margin-bottom: 0px;
}

.client-descr :last-child {
  font-family: Barlow;
  font-size: 14px;
  margin-top: 0px;
  color: rgb(186, 185, 183);
}

.body-galery {
  display: flex;
  width: 100%;
}

.body-galery img {
  width: 25%;
}
.logo {
  padding-top: 70px;
}

.social {
  padding-top: 40px;
}
.social a {
  display: inline-block;
  padding: 10px 10px;
  border-radius: 1000px;
  white-space: nowrap;
  text-decoration: none;
  color: hsl(168, 34%, 41%);
}
.footer-container {
  height: 350px;
  background-color: hsl(170, 48%, 67%);
  text-align: center;
}
.footer-container ul {
  display: flex !important;
  text-align: center;
  list-style: none;
  justify-content: center;
}

.footer-menu a {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 1000px;
  white-space: nowrap;
  text-decoration: none;
  color: hsl(168, 34%, 41%);
}
